header.site-header
  .container
    .row

      //- left header column
      .column.left.slogan
    
        //- one card from left
        .column
          i.fa-icon.fas.fa-unlock-alt
          p Відкриваємо замки будь-якої складності
    
      //- right header column
      .column.right.row.description
    
        //- row with 3 cards
        .column 
          i.fa-icon.fas.fa-clock 
          p Працюємо цілодобово
    
        .column
          a(href='tel:0661720352')
            i.fa-icon.fas.fa-mobile 
            p 066 172 03 52
    
        .column  
          a(href='tel:0977533460') 
            i.fa-icon.fas.fa-mobile 
            p 097 753 34 60