// This is generic file for page style resetting.
// Use it to erase user agent styles

html,
body,
p 
{
  margin: 0;
}

img {
  max-width: 100%;
}

ul,
ol,
li
{
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
