@import '../colors/config.scss';
@import '../layout/resolution.scss';

.row {
  @media screen and (min-width: $tablet-s) {
    display: flex;
  }
}

.site-header {
  background: $almost-black;
  text-align: center;
}

.site-header,
.site-header p,
.site-header a {
  color: $white;
}

.site-header i {
  font-size: 25px;
  margin: 0 0 15px 0;
}

.site-header .info i {
  display: block;
}

@media screen and (min-width: $tablet-s) {
  
  .site-header, 
  .site-header p{
    font-size: 16px;
  }
  
  .site-header p {
    margin: 1em 0 0 0;
  }

  .site-header .row {
    justify-content: space-between;
  }

  .site-header .right {
    display: flex;
  }

  .site-header .info {
    padding: 0 10px;
  }
}

@media screen and (min-width: $tablet-l) {

  .site-header p {
    margin: 0;
  }

  .site-header .right {
    flex-grow: 1;
    justify-content: flex-end;
  }

  .site-header .info {
      display: flex;
      align-items: center;
  }

  .site-header .info a {
    display: flex;
    align-items: center;
  }

  .site-header .info i {
    margin: 0 15px 0 0;
  }

}