// adaptive to tablet<
@media screen and (min-width: $tablet-s) {
    // menu
    .menu {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .nav {
        margin: 0;
        ul {
          display: flex;
          justify-content: space-around;
          li {
            margin: 0 10px 0 0;
          }
          li a {
            font-weight: normal;
          }
        }
      }
      .logo {
        max-width: 250px;
      }
      
    }

    // main-intro
    .main-intro {
      display: flex;
      // justify-content: center;
      margin: 0 0 50px 80px;
      .left-column {
        .text {
          text-align: start;
        }
      }
    }

    // contacts 

    section.contacts {
      padding: 80px 15px;

      .column {
          height: 150px;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
      }

      .column {

        img {
          max-width: 80%;
        }
      }
    }
    
  // service-section
  .service-section {
     .subtitle {
       margin-bottom: 2rem;
     }
  } 
}



// adaptive to mobile<
@media screen and (min-width: $mobile) {
  // menu
  .menu {
      .logo {
          width: 100%;
      }
      .logo img {
          max-width: 100%;
          margin: 0 auto;
      }
      .nav {
          // margin: 0 auto;
          ul {
              text-align: center;
              max-width: 100%;
              li {
                  // margin-bottom: 10px;
                  font-weight: bold;
              }
          }
      }
  }

  // main-intro
  .main-intro {
      .left-column {
          text-align: center;
          h1 {
              margin-top: 20px;
              font-size: 35px;
              padding-bottom: 0;
          }
          ul {
              li {
                  padding-bottom: 10px;
              }
          }
      }
  }

  // service-section
  .service-section.container {
    padding: 40px 0;
    .subtitle {
        margin-bottom: 1.5rem;
    }
  }
}


// adaptive to mobile-s<
@media screen and (min-width: $mobile-s){
  .service-section{
    .subtitle {
      margin-bottom: 1.5rem;
    } 
  }

  .metrics-section {
    .card-img {
      font-size: $fz-34;
    }
  }
}


// adaptive to desktop-s<
@media screen and (min-width: $desktop-s){
    .header {
        // font-size: 18px;
        .contacts{
            .info {
                // font-size: 18px;
                margin: 0 0 0 20px;
            }
        }
    }

    .menu {
      .nav {
         ul {
          li {
            a {
              margin-right: 20px;
            }
          }
        }
      }
    }

    .main-intro {
      margin: 50px 0 50px 150px;
      li {
        margin-bottom: 10px;
      }
    }
}




// adaptive to desktop-l<
@media screen and (min-width: $desktop-s) {
    .menu {
      margin: 0 100px 50px 100px;
    }

    .main-intro {
      margin: 0 0 0 150px;
      justify-content: center;
      h1 {
        font-size: 70px;
      }
      li {
        font-size: 20px;
        margin-bottom: 15px;
      }
    }
}

