.card .card-img img {
	box-shadow: 0 3px 3px -2px rgb(0 0 0 / 20%), 0 3px 4px 0 rgb(0 0 0 / 14%),
		0 1px 8px 0 rgb(0 0 0 / 12%);
}

.card.service,
.card.service .card-footer {
	background: $light-blue;
}

.card-contacts a {
	color: $dark-grey;
}

.card.metrics .card-icon {
  color: $dark-grey;
}

.card .card-title {
  color: $dark-grey;
}

.card.metrics .card-title
{
  color: $grey;
}

.card.metrics .card-footer,
.card.is-horizontal .card-title {
  color: $orange;
}