/* COLORS */

// Reusable colors module.
// Page-available

$white: white;
$almost-white: rgba(255,255,255,.65);

$almost-black: #222;
$black: black;

$light-grey: #8d99ae;
$grey: #4a4a4a;
$dark-grey: #54617a;

$light-blue: #f5fafd;
$dark-blue: #50a2eb;

$orange: #fab005;