/* FONT-FAMILY */

$page-font-family: 'Roboto', 'Arial', sans-serif;
$light-font-family: 'Roboto Light', 'Arial', sans-serif;

/* FONT SIZES */

// default page size
// all sizes listed below are linked to this one 
$page-font-size: 18px;

$small-font-size: 0.875rem;
$default-font-size: 1rem;

$larger-font-size: 1.25rem;
$large-font-size: 1.5rem;
$big-font-size: 2rem;

