.card.metrics 
  header.card-img 
    i.fas.fa-truck
  main.card-title 
    h3 20 хв
  footer.card-footer  
    p
      | ПРИБУТТЯ МАЙСТРА
.card.metrics 
  header.card-img 
    i.fas.fa-unlock-alt
  main.card-title
    h3 30 хв
  footer.card-footer  
    p
      | ВІДКРИТТЯ ЗАМКУ
.card.metrics 
  header.card-img 
    i.far.fa-calendar-check
  main.card-title
    h3 на 100%
  footer.card-footer  
    p
      | результат
.card.metrics 
  header.card-img 
    i.fas.fa-id-card
  main.card-title
    h3 100%
  footer.card-footer  
    p
      | ОФІЦІЙНО