.card.card-footer.column
  .card-img
    i.fas.fa-map-marker-alt
  .card-title
    h6 Працюємо по м. Дніпро

.card.card-footer.column
  .card-img
    i.far.fa-envelope-open
  .card-title
    h6 info@dnepr-сlass.com.ua
  .card-footer
    p Політика конфіденційності

.card.card-footer.column
  .card-img
    i.fas.fa-mobile-alt
  .card-title
    h6 066 172 03 52
    h6 097 753 34 60