.card.advantage.is-horizontal
  .left-column
    i.fas.fa-shield-alt
  .right-column
    header.card-title
      h3 Порядність і конфіденційність
    footer.card-footer
      p Ми гарантуємо збереження Вашої особистої інформації. В нашій команді працюють перевірені майстри.

.card.advantage.is-horizontal
  .left-column
    i.far.fa-money-bill-alt  
  .right-column
    header.card-title
      h3 Готівковий або безготівковий розрахунок
    footer.card-footer
      p Оплатити наші послуги Ви зможете будь-яким зручним способом. Працюємо без передоплат.

.card.advantage.is-horizontal
  .left-column
    i.far.fa-thumbs-up
  .right-column
    header.card-title
      h3 Професіоналізм
    footer.card-footer
      p Досвідчені майстри знають свою з легкістю допоможуть Вам відкрити Заком будь-якої складності за 10-20 хвилин.

.card.advantage.is-horizontal
  .left-column
    i.fas.fa-user-lock
  .right-column
    header.card-title
      h3 Розтин без пошкоджень
    footer.card-footer
      p Ми використовуємо тільки якісний і професійний інструмент. Ваші замки залишаться цілими і без дефектів.
