// avoid using this naming 
// deprecated
$fz-16: 1rem;
$fz-17: 1.1rem;
$fz-18: 1.25rem;
$fz-20: 1.4rem;
$fz-21: 1.5rem;
$fz-24: 1.7rem;
$fz-34: 2.4rem;
$fz-45: 3.2rem;
$fz-50: 3.5rem;

/* FONT SIZES */;
$fz-small: 0.875rem;

$fz-default: 1rem;

$fz-larger: 1.25rem;
$fz-large: 1.5rem;

$fz-big: 2rem;

$fz-title: 3rem;
$fz-hero-title: 3.5rem;