// default font size on the page
// control font sizes (+responsive) through 2 rules
html {
  font-size: 16px;
  @include on-tablet { font-size: 17px; }
}

.button { font-size: $fz-default; }

// titles
.hero-title { font-size: $fz-hero-title; }
.title { font-size: $fz-title; }