@import 'configs';
@import 'r-fonts';
@import 'aligning';

/* FONT FAMILY */
html {
  font-family: 'Roboto', sans-serif;
}

.title,
.subtitle,
.card-footer
{
  font-family: 'Roboto Light', sans-serif;
}

/* FONT SIZES */
.header, 
.nav,
p
{
  font-size: $fz-17;
}

.button {
  font-size: $fz-16;
}

.list {
  font-size: $fz-21;
}

.contacts a,
.card .card-title :is(h3, h4, h5, h6)
{
  font-size: $fz-24;
}

.card.metrics .card-title {
  font-size: $fz-34;
}

.title {
  font-size: $fz-45;
}

.hero-title {
  font-size: $fz-50;
}

/* BOLDNESS */
.button {
  font-weight: 500;
}

/* LINE HEIGHT */
.subtitle {
  line-height: 2rem;
}

/* TEXT TRANSFORMATION */
.nav, 
.list 
.button
.card-title,
.card.metrics .card-footer
{
  text-transform: uppercase;
}




// MARK'S CODE
.favors-prices {
  h2 {
    font-size: 2.2rem;
  }
  .subtitle {
    font-size: 14px;
    line-height: 1.5rem;
  }
}
