@import './config.scss';

@mixin font-size-default {
  font-size: $fz-larger;
  @include on-desktop { font-size: $fz-default; };
}

@mixin font-size-medium {
  font-size: $fz-large;
  @include on-desktop { font-size: $fz-larger; };
}

@media screen and (min-width: $tablet) {
  .service-section {
    .title {
      font-size: $fz-45;
    }
  }
}

@media screen and (min-width: $mobile) {
  .card.metrics .card-img {
    font-size: $fz-45;
  }
}

@media screen and (min-width: $mobile) {
  .service-section {
    .title {
      font-size: $fz-34;
    }
  }
}

@media screen and (min-width: $desktop) {
  .card.metrics .card-img {
    font-size: $fz-50;
  }
}