@media screen and (min-width: $tablet) {
  .header, 
  .nav,
  p
  {
    font-size: $fz-18;
  }
}

@media screen and (min-width: $mobile) {
  .card.metrics .card-img {
    font-size: $fz-45;
  }
}

@media screen and (min-width: $desktop) {
  .card.metrics .card-img {
    font-size: $fz-50;
  }
}