@media screen and (min-width: $tablet-s) {
  .header, 
  .nav,
  p
  {
    font-size: $fz-18;
  }

  .service-section {
    .title {
      font-size: $fz-45;
    }
  }
}

@media screen and (min-width: $mobile-s) {
  .card.metrics .card-img {
    font-size: $fz-45;
  }
}

@media screen and (min-width: $mobile-s) {
  .service-section {
    .title {
      font-size: $fz-34;
    }
  }
}

@media screen and (min-width: $desktop-s) {
  .card.metrics .card-img {
    font-size: $fz-50;
  }
}