@import './config.scss';
@import './responsive';

.fa-icon,  
.contacts a,
.card .card-title :is(h3, h4, h5, h6)
{
  @include fz-medium;
  // font-size: $fz-24;
  // no need in responsive for .fa-icons
}

.site-header, 
.nav,
p
{
  font-size: $fz-17;
}

.list {
  font-size: $fz-21;
}

.card.metrics .card-title {
  font-size: $fz-34;
}