@import './config';

/* HEADER */;
.fa-icon {
  margin: $margin-default;
}

.columns {
  margin: 0;
}

.title {
  margin: 0 0 3rem 0;
}

.card
{
  margin: 0 0 2rem 0;
}

.card .card-title,
.card .card-img,
.card-footer p
{
  margin: $margin-default;
}