doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="stylesheet" href="scss/style.scss")
    link(rel="stylesheet" href="../node_modules/@fortawesome/fontawesome-free/css/all.min.css")
    link(rel="stylesheet" href="../node_modules/bulma/css/bulma.min.css")
    link(rel="stylesheet" href="scss/responsive.scss")
  body  
    header.has-text-centered
      .container.header
        .slogan.info
          i.fas.fa-unlock-alt
          | Відкриваємо замки будь-якої складності
        .contacts
          .info 
            i.fas.fa-clock 
            | Працюємо цілодобово
          .info
            //- you need to make links 'callable'
            //- this means when you click,
            //- you make instant call from any device
            //- google how to make this
            a(href='tel:0661720352')
              i.fas.fa-mobile 
              | 066 172 03 52
          .info  
            a(href='tel:0977533460') 
              i.fas.fa-mobile 
              | 097 753 34 60
            //- PLEASE, compare your code & mine. 
            //- try to understand what was improved
            //- and how to write more consious & effective code

    .background-image 
        //- first-section-vstup
        .intro
          .menu  
            .logo 
              img(src="img/logo.png" alt="")
            .nav 
              ul
                li
                  a(href="#") Послуги і ціни
                li 
                  a(href="#") Етапи 
                li
                  a(href="#") Факти
                li
                  a(href="#") Переваги
                li
                  a(href="#") Замовити дзвінок
          .main-intro
            .left-column  
              h1 АВАРІЙНЕ ВІДКРИТТЯ ЗАМКІВ
              ul
                li  ПРИЇДЕМО ПРОТЯГОМ 20 ХВИЛИН                              
                li  ВІДКРИВАЄМО ВСІ ВИДИ ЗАМКІВ
                li  БЕЗ ПОШКОДЖЕННЯ ЗАМКУ
                li  КОНФІДЕНЦІЙНО
                li  від 600 грн
              .buttons 
                div
                  button.first-button  ВИКЛИКАТИ МАЙСТРА
                div
                  button.second-button РОЗРАХУНОК ВАРТОСТІ
            .right-column 
              .contacts-phone
                img(src="img/2.png" alt="")




