doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Document
    
    //- библиотеки
    link(rel="stylesheet" href="../node_modules/bulma/css/bulma.min.css")
    link(rel="stylesheet" href="../node_modules/@fortawesome/fontawesome-free/css/all.min.css")

    //- наши стили
    link(rel="stylesheet" href="fonts/Roboto/Roboto.css")
    link(rel="stylesheet" href="scss/style.scss")
  body  
    header.header
      .container.has-text-centered
        .slogan.info
          i.fas.fa-unlock-alt
          | Відкриваємо замки будь-якої складності
        .description
          .info 
            i.fas.fa-clock 
            | Працюємо цілодобово
          .info
            a(href='tel:0661720352')
              i.fas.fa-mobile 
              | 066 172 03 52
          .info  
            a(href='tel:0977533460') 
              i.fas.fa-mobile 
              | 097 753 34 60
    //- здесь заканчивается хедер

    .background-image 
        .intro
          .menu  
            .logo 
              a(href="/") 
                img(src="img/logo.png" alt="")
            .nav 
              ul
                li
                  a(href="#") Послуги і ціни
                li 
                  a(href="#") Етапи 
                li
                  a(href="#") Факти
                li
                  a(href="#") Переваги
                li
                  a(href="#") Замовити дзвінок
          .main-intro
            .left-column  
              h1.title.is-1.text АВАРІЙНЕ <br> ВІДКРИТТЯ ЗАМКІВ
              ul.text
                li
                  | ПРИЇДЕМО ПРОТЯГОМ 20 ХВИЛИН                              
                li 
                  | ВІДКРИВАЄМО ВСІ ВИДИ ЗАМКІВ
                li  
                  | БЕЗ ПОШКОДЖЕННЯ ЗАМКУ
                li  
                  | КОНФІДЕНЦІЙНО
                li  
                  | від 600 грн
              .button-container 
                div
                  button.button.is-orange ВИКЛИКАТИ МАЙСТРА
                div
                  button.button.is-price-button РОЗРАХУНОК ВАРТОСТІ
            .right-column 
              .contacts-phone
                img(src="img/phone-with-contacts.png" alt="")
  //- здесь заканчивается первая секция

  //- секция контакты
  section.contacts.container.has-text-centered

    h2.title.is-size-2.is-uppercase.mb-4 Викликати майстра 
    div.columns.is-align-items-center
      .column
        a(href="tel:0661720352" class="is-size-4")
          img(src="img/operators/vod.png")
          p 066 172 03 52
      .column
        a(href="tel:0977533460" class="is-size-4")
          img(src="img/operators/kievstar.png")
          p 097 753 34 60
      .column.callback
        a.button Зворотнiй зв'язок
        p Передзвонимо вам протягом 5 хвилин 
  //- конец секции контакты

  //- секция Услуги и цены 
  section.service-section.has-text-centered
    .container
      h2.title.is-uppercase НАШІ ПОСЛУГИ ТА ЦІНИ
      div.subtitle 
        | Ціна послуг з розкриття замків залежить від конструкції замка і ступеня складності поломки. 
        | <br>Помилковий виклик — 500 грн.
        | <br>Перестій майстра — 1 година — 1000 грн.
      .cards 
        include ./includes/card-service.pug
  //- конец service-section

  //- секция metrics
  section.metrics-section
    .container 
      .row.cards 
        include includes/card-metrics.pug
      



