doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="scss/style.scss")
    body 
        .contacts
                .open-locks-of-any-complexity
                            img(src="img/key-variant.png", alt="")
                            p Відкриваємо замки будь-якої складності
                .menu-numbers
                    //- div or ul
                    .work-around-the-clock
                        div.around-the-clock  
                            img(src="img/alarm.png", alt="")
                            p Працюємо цілодобово
                    .first-number 
                        div  
                            img(src="img/account-arrow-right.png", alt="")
                            a(href="#" class="numbers") 066 172 03 52
                    .second-number 
                        div 
                            img(src="img/account-arrow-right.png", alt="")
                            a(href="#" class="numbers") 097 753 34 60

        .container-for-background-image 

            .container  
                //- first-section-vstup
                .Vstup   
                    .header 
                        .logo 
                            img(src="img/logo.png", alt="")
                        .nav 
                            ul
                                li
                                    a(href="#") Послуги і ціни
                                li
                                    a(href="#") Етапи 
                                li
                                    a(href="#") Факти
                                li
                                    a(href="#") Переваги
                                li
                                    a(href="#") Замовити дзвінок   
                    .main-vstup
                        .left-column  
                            h1 АВАРІЙНЕ ВІДКРИТТЯ ЗАМКІВ
                            ul
                                li  ПРИЇДЕМО ПРОТЯГОМ 20 ХВИЛИН                              
                                li  ВІДКРИВАЄМО ВСІ ВИДИ ЗАМКІВ
                                li  БЕЗ ПОШКОДЖЕННЯ ЗАМКУ
                                li  КОНФІДЕНЦІЙНО
                                li  від 600 грн
                            .buttons 
                                div
                                    button.first-button  ВИКЛИКАТИ МАЙСТРА
                                div
                                    button.second-button РОЗРАХУНОК ВАРТОСТІ
                        .right-column 
                            .image-phone-with-contacts
                                img(src="img/2.png", alt="")


                                
                    
