$white: white;
$almost-white: rgba(255,255,255,.65);

$almost-black: #222;
$black: black;

$light-grey: #8d99ae;
$grey: #4a4a4a;
$dark-grey: #54617a;

$light-blue: #f5fafd;
$dark-blue: #50a2eb;

$orange: #fab005;

/* FONT COLORS */
html, 
p,
.card .card-footer
{
  color: $light-grey;
}

.header, 
.header a,
.header a:hover, 
.hero-title,
.list,
.button,
.callback .title,
.callback .subtitle
{
  color: $white;
}

.nav {
  color: $almost-white;
}

.title,
.contacts a,
.card .card-title :is(h3, h4, h5, h6),
.card.metrics .card-img 
{
  color: $dark-grey;
}

.form,
.card.metrics .card-title
{
  color: $grey;
}

.card.metrics .card-footer,
.card.is-horizontal .card-title,
.footer 
{
  color: $orange;
}

/* BACKGROUNDS */
.header,
.footer {
  background: $almost-black;
}

.intro-section {
  background: $black;
}

.service-section, 
.card.service,
.card.service .card-footer
{
  background: $light-blue;
}

.button.is-orange {
  background: $orange;
}

/* TRANSITIONS */
.button,
a
{
  transition: all .8s;
}

/* HOVERS */
.contacts a:hover {
  color: $dark-blue;
}

/* BORDERS */
.button.price-button {
  border: 2px solid $white;
}

/* SHADOWS */;
.card {
    box-shadow: none;
}

.card .card-img img {
    box-shadow: 0 3px 3px -2px rgb(0 0 0 / 20%), 0 3px 4px 0 rgb(0 0 0 / 14%), 0 1px 8px 0 rgb(0 0 0 / 12%);
}
