$white: white;
$almost-white: rgba(255,255,255,.65);

$almost-black: #222;
$black: black;

$light-grey: #8d99ae;
$grey: #4a4a4a;
$dark-grey: #54617a;

$light-blue: #f5fafd;
$dark-blue: #50a2eb;

$orange: #fab005;

/* FONT COLORS */
html, 
p {
  color: $light-grey;
}

.header, 
.header a,
.header a:hover, 
.hero-title,
.list,
.button,
.callback .title,
.callback .subtitle
{
  color: $white;
}

.nav {
  color: $almost-white;
}

.title,
.contacts a,
.card .title
{
  color: $dark-grey;
}

.form,
.card.metrics
{
  color: $grey;
}

.card.metrics .description,
.card.is-horizontal .title,
.footer 
{
  color: $orange;
}

/* BACKGROUNDS */
.header,
.footer {
  background: $almost-black;
}

.intro-section {
  background: $black;
}

.service-section {
  background: $light-blue;
}

.button.is-orange {
  background: $orange;
}

/* TRANSITIONS */
.button,
a
{
  transition: all .8s;
}

/* HOVERS */
.contacts a:hover {
  color: $dark-blue;
}

/* BORDERS */
.button.price-button {
  border: 2px solid $white;
}







// MARK'S CODE
.favors-prices {
  h2 {
    color: $dark-grey;
  }
  .subtitle {
    color: $light-grey;
  }
}