$white: white;
$black: black;
$yellow: rgb(235, 215, 36);
$goldenrod: rgb(255, 230, 2);
$grey: rgb(160, 158, 158);
$orange: #fab005;

header {
  background: $black;
  color: $white;
}

.info {
  a, a:hover {
    color: $white;
  }
}

// buttons in intro section
.button-container {
  .button {
    color: $white;
    transition: background .7s;
    
    &:hover {
      color: $white;
    }
    
    // orange button
    &.is-orange {
      background: $orange;
      border-radius: 30px;
      
      &:hover {
        background: $black;
      }
    }
    
    // price button
    &.is-price-button {
      border: 2px solid $white;
      
      &:hover {
        background: $orange;
      }
    }
  }
}