// https://habr.com/ru/post/280125/
// https://learn.javascript.ru/css-units

$font-size-regular: 16px;

html {
  font-size: $font-size-regular;
}



$big: 60px;


body {
  font-family: 'Roboto', sans-serif;
}

h2 {
  font-family: 'Roboto Light', sans-serif;
}

.nav a {
  font-size: 18px;
}

.button-contaier.button {
  font-size: 18px;
}

// contacts



// favors-prices
.favors-prices {
  h2 {
    font-size: 2.2rem;
  }
  .subtitle {
    font-size: 14px;
    line-height: 1.5rem;
  }
}

