// import another files to use their code
@import 'colors';
@import 'helpers';

// there's no need to reset anything
// bulma will do it for us
// body {
    // margin: 0;
    // we'll use colors later
    // background-color: rgb(204, 204, 95);
// }

// there's no need in container anymore. 
// We can use bulma's 
// .container {
//         margin: 0 auto;
//         max-width: 1200px;
//         padding: 0 15px 0 15px;
// }

.container {
    padding: 10px 0 10px 0;
}

.info {
    i {
        margin: 0 15px 0 0;
    }
    a:hover {
        text-decoration: underline;
    }
}

// .contacts {
//     // background-color: rgb(223, 210, 26);
//     max-width: 100%;
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//     padding: 10px 0 10px 0;
//     p {
//         margin: 0;
//     }
//     .open-locks-of-any-complexity {
//         padding: 0 0 0 150px;
//         display: flex;
//         align-items: center;
//         p {
//             padding-left: 10px;
//         }
//     }
//     .menu-numbers {
//         display: flex;
//         align-items: center;
//         justify-content: space-around;
//         width: 35%;
//         padding: 0 150px 0 0 ;
//         .around-the-clock {
//             display: flex;
//             align-items: center;
//             p {
//                 padding-left: 10px;
//             }
//         }
//         .numbers {
//             padding-left: 10px;
//         }
//         a {
//             color: black;
//             // text-decoration: none;
//         }
//         a:hover {
//             color: #ff2600; 
//             // border-bottom: .07em solid;
//         }
//     }

// }

.menu {
    display: flex;
    justify-content: space-between;
    .logo img {
        max-width: 200px;
    }
    .nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        ul {
            display: flex;
            list-style-type: none;
            a {
                text-decoration: none;
                color: rgb(73, 69, 69);
            }
            a:hover {
                color: black;
            }
        }
    }
}

.main-intro {
    margin: 170px 0 0 20px;
    display: flex;
    h1 {
        padding-bottom: 50px;
    }
    ul {
        list-style-type: square;
    }
    li {
        padding-bottom: 35px;
    }
    // .buttons {
    //     display: flex;
    //     .second-button {
    //         margin-left: 50px;
    //         background-color: rgb(255, 238, 0);
    //         color: black;
    //         border-radius: 20px;
    //         border: black;
    //         width: 230px;
    //         height: 75px;
    //     }
    //     .first-button {
    //         background-color: black;
    //         color: rgb(255, 238, 0);
    //         border-radius: 20px;
    //         border: rgb(255, 238, 0);
    //         width: 230px;
    //         height: 75px;
    //     }
    //     .first-button:hover {
    //         color: black;
    //         background-color: rgb(255, 238, 0);
    //         border: black;
    //     }
    //     .second-button:hover {
    //         background-color: black;
    //         color: rgb(255, 238, 0);
    //         border: rgb(255, 238, 0);
    //     }
    // }

}

